[Unit]
Description=EC2 Python Heartbeat Automation
Documentation=https://github.com/Andrey242-GH/EC2_Heartbeat_Python_Automation
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=heartbeat
Group=heartbeat

WorkingDirectory=/opt/EC2_Heartbeat_Python_Automation

Environment=JOB_NAME=ec2-guid-heartbeat
Environment=ENVIRONMENT=production
Environment=OUTPUT_FILE=/var/lib/heartbeat/events.jsonl
Environment=LOG_LEVEL=INFO
Environment=PYTHONDONTWRITEBYTECODE=1

ExecStart=/opt/EC2_Heartbeat_Python_Automation/.venv/bin/python \
    /opt/EC2_Heartbeat_Python_Automation/src/heartbeat.py

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/heartbeat

StandardOutput=journal
StandardError=journal
SyslogIdentifier=heartbeat

[Install]
WantedBy=multi-user.target